<body bgcolor="#FFFFFF" leftmargin="40" topmargin="0" marginwidth="0" marginheight="0">
<div>
    <br>
    <table>
        <tr>
            <td>Hello!</td>
        </tr>
        <tr>
            <td>Apparently you forgot the password. Follow the instructions.</td>
        </tr>
        <tr>
            <td>To recover the password, follow the link http://ealys.com/resetPass?token=${recoveryInfo.token}.</td>
        </tr>
    </table>
</div>
</body>