<body bgcolor="#FFFFFF" leftmargin="40" topmargin="0" marginwidth="0" marginheight="0">
<div>
    <br>
    <table>
        <tr>
            <td>Привет!</td>
        </tr>
        <tr>
            <td>Видимо, вы забыли свой пароль. Ничего страшного, просто следуйте инструкциям!</td>
        </tr>
        <tr>
            <td>Для изменения пароля проследуйте по ссылке: http://ealys.com/resetPass?token=${recoveryInfo.token}.</td>
        </tr>
    </table>
</div>
</body>